<h1>Create Social Worker</h1>

<% if flash[:errors] %>
    <% flash[:errors].each do |error| %>
    <div class="alert alert-danger" role="alert">
  <%= error %>
</div>
    <% end %>
<% end %>

<%= render 'form' %>