<h1>Social Worker Details</h1>

<h2>Name</h2>
<h3><%= @social_worker.name %></h3>

<h2>Phone</h2>
<h3><%= @social_worker.phone_number %></h3>

<h2>Email</h2>
<h3><%= @social_worker.email %></h3>

<h2>Specialty</h2>
<h3><%= @social_worker.specialty %></h3>