<h1 class="display-1 text-center">All Clients</h1>

<style>
.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.btn btn-primary {
  border-radius: 25px;
}

</style>

<div class="container">
    <div class="row">
            <% @clients.each do |client| %>
            <div class="col-sm-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="<%=client.image_url%>" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Name: <%=client.name%></h5>
                        <a href="/clients/<%=client.id%>" class="btn btn-primary">View Client</a>
                    </div>
                </div>
            </div>
            <% end %>
        </div>
    </div>