<h1>Client Details</h1>

<h2>Name</h2>
<h3><%= @client.name %></h3>

<h2>Phone</h2>
<h3><%= @client.phone_number %></h3>

<h2>Email</h2>
<h3><%= @client.email %></h3>

<h2>Age</h2>
<h3><%= @client.age %></h3>